# Server Configuration
PORT=3000

# Frontend URL (for QR codes and redirects)
# This should be your frontend deployment URL (e.g., https://your-app.vercel.app)
FRONTEND_URL=http://localhost:3001

# MongoDB Configuration
# Format: mongodb://[username:password@]host[:port]/database
MONGO_URI=mongodb+srv://psach:YdRonxV2LlYIbWmv@cluster.m0l2daj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster

# Redis Configuration
# Format: redis://[username:password@]host[:port]/[database]
REDIS_URL=redis://localhost:6379
