/* Theme Styles */
body.light {
  background-color: #fff;
  color: #333;
}

.header.light {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.header.light .logo {
  color: #333;
}

.header.light .header-btn {
  border: 1px solid #ddd;
  background-color: transparent;
  color: #333;
}

.header.light .header-btn:hover {
  background-color: #eee;
}

.header.light .header-btn.light {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}

.header.light .header-btn.light:hover {
  background-color: #444;
}

.header {
  background-color: #111;
  border-bottom: 1px solid #222;
  padding:10px 0 ;
}

.header-container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-btn {
  padding: 14px 25px;
  border: 1px solid #333;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  transition: all 0.2s;
}

.header-btn:hover {
  background-color: #222;
}

.header-btn.light {
  background-color: #fff;
  color: #000;
}

.header-btn.light:hover {
  background-color: #eee;
}

@media (max-width: 768px) {
  .header-buttons {
    display: none;
  }
}
